// Non-modular or client styles for .l-header region.

.l-header {}

// Top Bar
//--------------------------------------------------
.adminimal-menu {

  .top-bar {
    margin-top: 29px;
  }

}

.top-bar {
  .title-area {}
}

.top-bar-section {}
.top-bar-section .left {}
.top-bar-section .right {}
